html {
    font-family: 'Gotu', sans-serif;
    background: #faf7f1;
}

h1 {
    font-size: 2em;
    color: #FE653B;
    text-transform: uppercase;
    line-height: 2em;
}

h2 {
    font-size: 1.2em;
    color: #FE653B;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

.header h2 {
    letter-spacing: 1px;
}

h3 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding-bottom: 0.5em;
    line-height: 1.5em;
}

h3, p {
    color: #444;
}

p {
    font-family: 'EB Garamond', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    padding-bottom: 1em;
}

i {
    font-style: italic;
}

.downloadEvent p, .eventDetails p, .shareContainer p {
    color: #FE653B;
    font-variant: small-caps;
}

.eventText p:first-child {
    font-family: 'EB Garamond', sans-serif;
    font-variant: small-caps;
}


figcaption {
    font-family: 'EB Garamond', sans-serif;
    font-size: 1em;
    padding: 1.5em;
    line-height: 1.6em;
}

figcaption, figcaption, figcaption a:visited, h3, h3 a:visited, p a:visited {
    color: #444;
}

figcaption a:hover, h3 a:hover, p a:hover {
    color: #FE653B;
}

ul li {
    list-style-type: disc;
    margin-left: 2em;
}

/*SIDE NAV*/
.sideNav {
    background: #FE653B;
    outline: 1px solid #faf7f1;
    outline-offset: -1;
    width: 6%;
    float: left;
    position: fixed;
    height: 100vh;
    z-index:5;
}

.sideNav h2, .sideNav h2 a:visited {
    line-height: 1em;
    transform: rotate(270deg);
    position: absolute;
    left: 0.75em;
    color: #FFD1C3;
}

.sideNav h2 a {
    color: #FFD1C3;
    text-decoration: none;
}

.sideNav h2 a:hover {
    color: #FFFFFF;
}

.sideNav h2:first-of-type {
    bottom: 15vh;
}

.sideNav h2:nth-of-type(2) {
    top: 50vh;
}

.sideNav h2:last-of-type {
    top: 20vh;
}

.menu img {
    padding: 1.5em;
    display: block;
    margin: auto;
}

.menu img:hover, .sidepage h1:hover {
    cursor: pointer;
}

/*SLIDING NAV MENU*/
#sidepagemain {
  height: 100%;
  width: 43.25%; 
  position: fixed;
  z-index: 4; 
  top: 0;
  left: -1000;
  background-color: #FE653B;
  overflow-x: hidden; 
  padding: 12em 0 0 3em;
  transition: 0.75s;  
}

#sidepagemain h1, #sidepagefeature h2 {
    color: #FFFFFF;
    margin-right: 3em;
}

#sidepagemain h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

#sidepagemain h1 a:visited {
    color: #FFFFFF;
}

#sidepagemain h1 a:hover {
    text-decoration: none;
    color: #FFD1C3;
}

#sidepagefeature h2 {
    margin-bottom: 0.5em;
}

.sidepage .closenav {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  margin-right: 0.25em;
  color: #FFFEFA;
  text-decoration: none;
}

#sidepagefeature p {
    color: #FFFFFF;
    margin-right: 3em;
    font-size: 1.1em;
    letter-spacing: 1%;
}

.closenav {
    z-index: 100;
}

#sidepagefeature {
  height: 100%;
  width: 43.25%; 
  position: fixed;
  z-index: 3; 
  top: 0;
  left: -1500;
  background-color: #FE653B;
  border-left: 0.5px solid white;
  overflow-x: hidden; 
  padding: 12em 0 0 3em;
  transition: 0.75s;  
}

/*NAV MENU END/

/*HEADER*/
.eventsContent, .entertainmentContent, .eventsHeader,.entertainmentHeader {
    width: 30%;
}

.storiesContent {
    width: 40%;
}

.storiesHeader {
    width: 39.75%;
}

.eventsHeader, .storiesHeader, .entertainmentHeader {
    padding: 0.5em 0 0 0;
    border-right: 1px solid #FE653B;
    border-top: 1px solid #FE653B;
    border-bottom: 1px solid #FE653B;
    text-align: center;
    float: left;
    text-transform: uppercase;
}

#eventsPageHeader {
    width: 100%;
}

.header, .content {
    width: 94%;
    float: right;
}

.header {
    position: fixed;
    padding-left: 6%;
    background: #faf7f1;
    z-index: 2;
}

.header h2 {
    padding: 0.75em 0 0.75em 0;
}

.header a {
    text-decoration: none;
}

.content {
    padding-top: 4em;
}

/*CONTENT CONTAINERS*/

.eventsContent, .storiesContent, .entertainmentContent {
    background: #faf7f1;
    outline: 1px solid #FE653B;
    float: left;
}

/*STORIES AND INSPIRATION CONTENT*/
#comic img {
    max-width: 100%;
}

.storiesHorizontal {
    height: 12em;
    border-top: 1px solid #FE653B;
    border-bottom: 1px solid #FE653B;
}

#cactusStories, #questStories, #isolationStories, #nikeStories {
    height: 16em;
}

#instagramStories, #doodleStories, #saveWithStoriesStories, #lucasSinStories, #masksStories, #londonStories, #sustainableStories, #flavoursStories {
    width: 100%;
}

#nikeStories, #isolationStories, #erinSullivanStories, #londonStories, #resilienceStories, #peace {
    border-bottom: 0px;
}


.contentImg {
    width: 50%;
    float: left;
    height: 100%;
}

.contentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentText {
    width: 50%;
    height: 100%;
    float: right;
    padding: 1.5em;
    box-sizing: border-box;
}

.contentText p, .verticalText p {
    color: #444;
    padding-top: 0.5em;
}

.contentText h2, .verticalText h2 {
    cursor: pointer;
}

.storiesVertical {
    width: 49.75%;
    height: 24em;
    float: left;
}

#saveWithStories, #AIGA, #togetherApart, #china, #masks, #sustainable, #intimacy, #vimeo, #instagram, #togetherApartStories {
    border-right: 1px solid #FE653B;
}
.verticalImg {
    width: 100%;
    height: 50%;
}

.verticalImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.verticalText, .eventText, .entertainmentText {
    width: 100%;
    padding: 1.5em 1.5em 0.25em 1.5em;
    box-sizing: border-box;
    float: left;
}

/*EVENTS*/
.event, .checklist {
    width: 100%;
}

.eventImg {
    max-width: 100%;
    height: 40%;
    float: left;
}

.eventImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sideProject .eventImg img {
    width: 120%;
}

.eventDetails, .downloadEvent {
    background: #FFD1C3;
    width: 100%;
    float: right;
    text-align: center;
    border-top: 1px solid #FE653B;
    cursor: pointer;
    padding: 1em 0 0 0;
}

/*THINGS TO DO*/
.entertainmentHorizontal {
    height: 12em;
    border-top: 1px solid #FE653B;
}

#timeCapsule img {
    height: 100%;
}

#moma, #tinyDesk, #netflix, #timeCapsule, #peace, #togetherApartStories, #fbStories, #saveWithStoriesStories, #masksStories, #londonStories, #sustainableStories, #flavoursStories {
    border-top: 1px solid #FE653B;
}

#lucasSinStories {
   border-bottom: 1px solid #FE653B; 
}

.checklist {
    height: 25em;
    border-top: 1px solid #FE653B;
}

/*CHECKBOXES*/
.container {
    margin-top: 0.5em;
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1em;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Custom Checkbox */
.checkmark {
  position: absolute;
  top: 0.25em;
  left: 0;
  height: 0.75em;
  width: 0.75em;
  border: 1px solid #FE653B;
}

.container:hover input ~ .checkmark {
  background-color: #FFD1C3;
}

.container input:checked ~ .checkmark {
  background-color: #FE653B;
}

/*SHARE */
.shareContainer {
    float: left;
    width: 100%;
    background-color:#FFD1C3;
}

.shareContainer p {
    font-family: 'Gotu', sans-serif;
    text-transform: uppercase;
    padding: 1.5em;
}

#shareDescription {
    width: 100%;
    float: left;
    border: 1px solid #FE653B;
}

#shareDescription p, #shareSend p {
    color: #FE653B;
    font-family: 'EB Garamond', sans-serif;
    font-variant: small-caps;
    font-size: 0.75em;
    text-align: center;
}

#shareName, #shareEmail {
    width: 39.15%;
    float: left;
    border-right: 1px solid #FE653B;
}

#shareSend {
    width: 20%;
    float: left;
}

input[type=text] {
  font-family: 'EB Garamond', sans-serif;
  width: 100%;
  padding: 1em 0 1em 2em;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #FE653B;
  color: #FE653B;
  background-color:#FFD1C3; 
}

#tinyDesk figcaption {
    margin-top: -6em;
}

/*STARS*/
.star, .star1, .star2, .star3 {
    position: relative;
    z-index: 1;
    height: 5em;
    width: 5em;
    left: 4em;
    top: 6.5em;
}

.star img, .star1 img, .star2 img, .star3 img {
    cursor: pointer;
    position: absolute;
    width: 70%;
    height: auto;
    left: 0;
    top: 0;
}

#star1 {
    top: 1em;
}

#star2 {
    left: 8em;
}

#star3 {
    top: 8em;
    left: 10em;
}

.rotate {
    animation: rotation 10s infinite linear; 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.starQuotes {
    background: radial-gradient(60.6% 60.6% at 37.44% 28.61%, #FFFFFF 0%, #FFD1C3 100%);
    border-top: 1px solid #FE653B;
}

.starQuotes h2, .starQuotes {
    padding: 1em 0.75em 0.75em 0.75em;
}

.starQuotes h2 {
    font-family: 'EB Garamond', sans-serif;
}

.starquotes p {
    padding-left: 1em;
    width: 70%;
}

#starQuote1, #starQuote1Stories, #starQuote2Stories, #starQuote3Stories {
    display: none;
}

#starQuote1.show, #starQuote1Stories.show, #starQuote2Stories.show, #starQuote3Stories.show {
    display: block; 
}

.clear {
    clear: both;
}
